.navbar {
  display: none;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    background: transparent;
    border: none;
    z-index: 2; /* Above the navbar */
  }

  
  
  /* Create three equal bars */
  .hamburger span {
    display: block;
    width: 39px;
    height: 4px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
  }

  .navbar {
    left: -300px; /* начальное положение за экраном */
    width: 300px;
    z-index: 1;
    height: 100vh;
    background-color: #333;
    transition: left 0.3s ease; /* анимация для изменения положения */
}

.navbar.open {
    left: 0; /* показать навбар сдвигая вправо */
}

/* Анимация для появления/исчезновения навбара */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.navbar {
    animation-duration: 0.2s;
    animation-timing-function: ease;
}

.navbar.open {
    animation-name: slideInFromLeft;
}

.navbar:not(.open) {
    animation-name: slideOutToLeft;
}

  .open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius:15px;
    height: calc(100vh - 15px);
    width: 20%;
    background-color: #000000; /* Темный фон */
    color: white;
    padding: 50px 0;
    transition: transform 0.3s ease;
    margin-left: 5px;
  }

  .active  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEC342;
    font-size: 26px;
    text-decoration: none;
    transition: 0.3s ease;
    height: 60px;
    text-shadow: 1px 1px 6px rgb(255, 255, 255, 0.3);
  }
  

  .logo  {
    text-align: center;
  }

  .logo span  {
    color: #FEC342;
    font-size: 18px;
  }
  
  .logo a {
    color: rgb(255, 255, 255); /* Цвет логотипа */
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    
  }
  
  .navItems {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .navItem  {
    display: block;
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navItem a:hover {
    color: #FEC342; /* Цвет при наведении */
  }
  
  .contactButton {
    display: block;
    text-align: center;
    background-color: transparent; /* Цвет кнопки */
    color: #FF6262;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .contactButton:hover {
    background-color: #292929; /* Цвет кнопки при наведении */
  }