
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transition: transform 0.3s ease;
}


  .container{
     background: linear-gradient(to right, #555272, #524e71, #4e4a70, #4b476f, #47436e, #45416a, #423e66, #403c62, #3e3b5b, rgb(59, 57, 84), #39384d, #373646);;
     background: linear-gradient(90deg, rgba(71,70,109,1) 10%, rgb(59, 57, 84) 40%, rgba(17,17,17,1) 100%);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 1;
     width: 99%;
     border-radius: 15px;
     height: 98%;
     transition: transform 0.3s ease;/* Начальное значение непрозрачности */
     transform: translateY(-20px); /* Начальное значение смещения по вертикали */
     animation: fadeInUp 0.5s ease forwards; 
  }

  .container_title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    opacity: 0; /* Начальное значение непрозрачности */
    transform: translateY(-60px); /* Начальное значение смещения по вертикали */
    animation: fadeInUp 0.5s ease forwards; /* Используем анимацию fadeInUp */
  }
  
  /* Определение ключевых кадров анимации */
  @keyframes fadeInUp {
    from {
      opacity: 0; /* Начальное значение непрозрачности */
      transform: translateY(-60px); /* Начальное значение смещения по вертикали */
    }
    to {
      opacity: 1; /* Конечное значение непрозрачности */
      transform: translateY(0); /* Конечное значение смещения по вертикали */
    }
  }

  .title_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  
  }

  @keyframes section-animation {
    0% {
      opacity: 0;
      transform: translate(-250px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0deg);
    }
  }

  .title_text {
    font-size: 78px;
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    font-weight: 500;
    letter-spacing: 1.3px;
    transition: .5s;
  }




  .pitch {
    width: 650px;
    font-size: 20px;
    padding: 15px 0;
    margin-left: 3px;
    transition: .5s;
    font-weight: 300;
  }

  .navi {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.3px;
    left: 2rem;
color: var(--primary-text-color);
  }

  .title_text span {
    color: #FEC342;
    
  }

  .about span {
    color: #FEC342;
    
  }

  .about  {
    font-weight: 500;
    margin-top: 7px;
    font-size: 28px;
    margin-left: 3px;
  }

 .info {
  display: flex;
  flex-direction: column;
  padding: 0px;
  line-height: 1.5;
  gap: 1rem;
 }

 .info a {
  text-decoration: none;
 }

 .btn {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
width: 144px;
height: 55px;
border: 2px solid #FEC342;
border-radius: 5px;
background: var(--primary-bg-color);
color: var(--primary-text-color);
font-weight: 400;
font-size: 18px;
cursor: pointer;
 }

 .btn:hover {
  background: var(--secondary-text-color);
  color: var(--btn-hover); 
  font-weight: 700;
 }

 
 .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
 }

 .CV {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color); 
  font-weight: 900;
  cursor: pointer;
  white-space: nowrap;
  font-size: 28px;
 }




 .CV footer {
  z-index: 1;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 30px;
  position: relative;
  box-shadow: 0px 0px 11px 3px #000000;
}

.projects_btn {
  display: none;
  z-index: 2;
  gap: 1rem
}


 #myCanvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index:0;
  top:50% ;
  left:  25%;
  transform: rotate(-25deg);
}



.navbar_dropdown {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top:4rem;
  right: 0;
  width: 100%;
  background-color: var(--secondary-bg-color);
  height: 150px;
  z-index: 2;
  box-shadow: 0px 0px 11px -3px #000000;
  padding: 5px 0;
}

.navbar_items_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 3rem;

}


.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.social {
  gap: 1rem;
  position: relative;
  align-items: center;
  display: inline-flex;
  position: relative;
}



.icon {
  color:var(--primary-text-color);
  font-size: 44px;
  transition: linear 0.3s;
  text-align: center;
  z-index: 2;
}


.icon_text {
  display: none;
  opacity: .8;
  position: absolute;
  white-space: nowrap;
  bottom:63px; 
  left: -30px;
  width: 90px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid var(--secondary-text-color);
  font-size: 14px;
  background-color: white;
  color: #000000;
  padding: 5px;
  z-index: 2;
}

.icon:hover .icon_text {
  display: block;
}


.icon:hover {
  color: var(--secondary-text-color);
}

